{% extends "markets/base.html" %}

{% block menu_signup %}_current{% endblock %}

{% block content %}
<div class="flat-box-wrapper">
<div class="flat-box">
    <h2>Sign up</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        {% for field in form %}
            <p>
                <!-- {{ field.label_tag }}<br /> -->
                {{ field }}
                {% if field.help_text %}
                    <p class="message-help hidden">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                    <p class="message-error">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn">Sign up</button>
    </form>
</div>
</div>
{% endblock %}
