{% extends 'markets/base.html' %}

{% block menu_login %}_current{% endblock %}

{% block title %}
<h2>Login</h2>
{% endblock %}


{% block content %}
<div class="flat-box-wrapper">
{% if form.errors %}
<p>
    Your username and password didn't match. Please give it another go.
</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>
        Your account doesn't have access to this page. To continue, please login with an account that has access.
    </p>
    {% else %}
    <!-- <p>Please login to see this page.</p> -->
    {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post" class="form flat-box">
    {% csrf_token %}
    <div>
        <td><label>Username</label></td>
        <td>{{ form.username }}</td>
    </div>
    <div>
        <td><label>Password</label></td>
        <td>{{ form.password }}</td>
    </div>

    <div>
        <button type="submit" class="btn">Log in</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>

    <a id="forgot-pw" href="{% url 'password_reset' %}">Lost password?</a>
</form>

</div>
{% endblock %}
