{% extends "markets/base.html" %}
{% block content %}

{% if validlink %}
<div class="flat-box-wrapper">
    <form action="" method="post" class="form flat-box reset-confirm-form">
        <p class="form-text">
            Please enter your new password.
        </p>
        <div style="display:none">
            <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken" />
        </div>
        <div>
            <td>{{ form.new_password1.errors }}<label for="id_new_password1">New password</label></td>
            <td>{{ form.new_password1 }}</td>
        </div>
        <div>
            <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm password</label></td>
            <td>{{ form.new_password2 }}</td>
        </div>
        <div>
            <td></td>
            <td><button type="submit" class="btn">Change password</button></td>
        </div>
    </form>

    {% else %} <!--not a valid link -->
    <h1>Password reset failed</h1>
    <p>
        The password reset link was invalid, possibly because it has already been used. Feel free to request a new password reset.
    </p>
    {% endif %}
</div>

{% endblock %}
