/* Header */
.market-header._fixed {
    position: fixed;

}
.market-header {
    border-top: 3px solid hsl(26, 90%, 55%);
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #fafafb;
        box-shadow: 0 1px 0 rgba(12,13,14,0.1),
                    0 1px 3px rgba(12,13,14,0.1),
                    0 4px 20px rgba(12,13,14,0.035),
                    0 1px 1px rgba(12,13,14,0.025);
}

.market-header .-container {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.market-header .navigation {
    display: block;
    font-size: 14px;
    overflow: hidden;
    opacity: 1;
    transform-origin: left center;
    transition: opacity .35s cubic-bezier(.165, .84, .44, 1),
                max-width .5s cubic-bezier(.165, .84, .44, 1);
}
.market-header .navigation .-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 57px;
}

.market-header .navigation .-item._current .-link {
    border-bottom: 2px solid hsl(26, 90%, 55%);
}

.market-header .navigation .-link {
    display: inline-block;
    line-height: 58px;
    height: 57px;
    white-space: nowrap;
    position: relative;
    padding: 0 8px;
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s,
                border-bottom-color ease-in-out .25s;
}
.market-header .navigation .-link:hover,
.market-header .navigation .-link:focus {
    background-color: #eff0f1;
    text-decoration: none;
    outline: none;
}

.market-header * {
    box-sizing: border-box;
}

.market-header a {
    text-decoration: none;
}

.content-container {
    padding-top: 60px;
}

/* Body & content */

body {
    color: #222;
    font-family: sans-serif;
}

.search-wrapper {
    height: 2.5em;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
input[type="text"], .big-button {
    height: 100%;
    font-size: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
}
input[type="text"] {
    max-width: 70%;
}
.big-button {
    width: 25%;
    background-color: hsl(250, 90%, 95%);
    border: 1px solid #bbb;
}
.more-results-wrapper {
    text-align: center;
}
#more-results {
    display: none;
}
#more-results.visible {
    display: inline-block;
}


.tag-toggle-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.tag-toggle {
    margin: 2px 5px;
    background-color: hsl(198, 44%, 79%);
    color: #fafafa;
    border: 0;
    border-radius: 10px;
    font-size: 1.5em;
    transition: 0.2s all;
}
.tag-toggle:hover, #clear-filters:hover {
    background-color: hsl(198, 62%, 71%);
}
.tag-toggle.selected {
    background-color: hsl(198, 62%, 61%);
}

#clear-filters {
    background-color: hsl(196, 30%, 29%);
}


.distance {
    color: #888;
}

.market-summary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    min-width: 15em;
}

.market-summary {

}

/* Summary info container */
.market-summary {
    padding: 0 10px;
    margin: 1%;
    border: 3px solid #666;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 12em;
}

/* Title */
.market-summary h3, .market-name {
    font-family: serif;
    color: #444;
    max-width: 15em;
}

.market-summary a, a:visited {
    margin: 0;
    color: #444;
}
.market-summary a:hover {
    color: #666;
}

.market-address {
    text-decoration: none;
}


/* General purpose */
.hidden {
    display: none;
}
