html {
    height: 100%;
}
body {
    color: #444;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/* General purpose classes */
.flex-row {
    margin: 0 auto;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.message-error {
    color: hsl(0, 85%, 55%);
}


/* Header */
.market-header._fixed {
    position: fixed;
    z-index: 1000;
}
.market-header {
    /*border-top: 3px solid hsl(26, 90%, 55%);*/
    border-top: 3px solid hsl(185, 70%, 76%);
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: #fafafb;
        box-shadow: 0 1px 0 rgba(12,13,14,0.1),
                    0 1px 3px rgba(12,13,14,0.1),
                    0 4px 20px rgba(12,13,14,0.035),
                    0 1px 1px rgba(12,13,14,0.025);
}
.market-header .logo {
    padding: 0 12px;
}
.market-header .-container {
    height: 100%;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.market-header .navigation {
    display: block;
    font-size: 14px;
    overflow: hidden;
    opacity: 1;
    transform-origin: left center;
    transition: opacity .35s cubic-bezier(.165, .84, .44, 1),
                max-width .5s cubic-bezier(.165, .84, .44, 1);
}
.market-header .-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 57px;
}

.market-header .-item._current .-link {
    border-bottom: 2px solid hsl(85, 60%, 50%);
}

.market-header .-link {
    display: inline-block;
    line-height: 58px;
    height: 57px;
    color: hsl(207, 7%, 35%);
    white-space: nowrap;
    position: relative;
    padding: 0 16px;
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s,
                border-bottom-color ease-in-out .25s;
}
.market-header .-link:hover,
.market-header .-link:focus {
    background-color: #eff0f1;
    color: hsl(203, 6%, 15%);
    text-decoration: none;
    outline: none;
}

.market-header * {
    box-sizing: border-box;
}

.market-header a {
    text-decoration: none;
}

.content-container {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    /* Set min-height to ensure footer is at the bottom of the page */
    min-height: calc(100vh - 193px);
}

/* Footer */
.nav-footer {
    background-color: #444;
    color: #ddd;
    padding: 1em 2em;
    position: relative;
}

.nav-footer .link-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-footer .link-list a {
    color: inherit;
}

/***************/
/* Search form */
/***************/
/* Class activated when search input is selected. Expand the input over menu items. */
.market-header.searchbar-selected .navigation  {
    display: none;
}
.market-header.searchbar-selected .searchbar {
    max-width: 80%;
}
.market-header.searchbar-selected .searchbar .btn {
    opacity: 1;
    z-index: 0;
}

.market-header .searchbar {
    padding-left: 12px;
    flex: 1;
    max-width: 30%;
    position: relative;
    margin-right: auto;
    transition: all 600ms cubic-bezier(.165, .84, .44, 1);
}


.market-header .searchbar>.svg-icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: hsl(208, 7%, 55%);
    fill: hsl(208, 7%, 55%);
    pointer-events: none;
    transition: opacity .25s cubic-bezier(.165, .84, .44, 1);
}

.market-header .searchbar input[type="text"].f-input {
    margin: 0;
    padding-left: 38px;
    width: 100%;
    height: 36px;
    border-radius: 2px;
    color: hsl(210, 7%, 45%);
}

.market-header .searchbar .btn {
    height: 36px;
    opacity: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: all .35s cubic-bezier(.165, .84, .44, 1);
}

.f-input {
    box-sizing: border-box;
    flex: 1 auto;
    padding: 8px 16px;
    min-height: auto;
    vertical-align: middle;
    border: 1px solid hsl(202, 7%, 80%);
    box-shadow: inset 0 0 1px hsla(210, 7%, 60%, 0.2),
                      0 0 0 hsla(0, 0%, 100%, 0);
    line-height: 1.4;
    color: hsl(210, 7%, 35%);
    background: #FFF;
    transition: all 600ms cubic-bezier(.165, .84, .44, 1);
}


/***************/
/* SVG styles  */
/***************/
.svg-icon {
    vertical-align: bottom;
}
svg.svg-icon[Attribute Style] {
    width: 18;
    height: 18
}
svg:not(:root) {
    overflow: hidden;
}

.svg-inline-wrapper {
    display: inline-block;
}

.favorite {
    width: 40px;
}

.favorite svg .svg-corn-cob {
    fill: #fff;
}
.favorite svg .svg-corn-wrap-inner {
    fill: #ddd;
}
.favorite svg .svg-corn-wrap-outer {
    fill: #999;
}

.favorite.favored svg .svg-corn-cob {
    fill: hsl(58, 100%, 50%);
}
.favorite.favored svg .svg-corn-wrap-inner {
    fill: hsl(92, 80%, 53%);
}
.favorite.favored svg .svg-corn-wrap-outer {
    fill: hsl(107, 60%, 50%);
}


  /*****************/
 /* Button styles */
/*****************/
button, .btn {
    display: inline-block;
    color: #FFF;
    fill: #FFF;
    background-color: hsl(204, 100%, 50%);
    border-color: hsl(205, 100%, 40%);
    box-shadow: inset 0 1px 0 hsl(205, 100%, 70%);
    padding: .61538em 1em;
    min-height: 2.4615em;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
}

button {
    align-items: flex-start;
}


/********/
/* Map */
/******/
.search-page-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.search-map-wrapper {
    position: fixed;
    height: calc(100vh - 60px);
    width: 600px;
}
#search-map {
    height: 100%;
    width: 100%;
}

.search-page-wrapper .results {
    margin-left: 600px;
}

/* Summary info containers */
.market-summary-wrapper, .flat-box-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    margin: auto;
    margin-bottom: .5rem;
    padding-top: 1.8rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.search-page-wrapper .market-summary-wrapper {
}

.market-summary,
.flat-box {
    box-shadow: 0 0 5px 0 rgba(12,13,14,0.4);
    font-family: sans-serif;
    position: relative;
    display: flex;
    min-height: 12em;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: .9375rem;
    width: 90%;
}

.inline {
    max-width: 520px;
}

.market-summary a {
    color: #2c7ef0;
}

.section {
    margin: 3em 0em;
}





/**************************************************/
/* Forms - mostly for registration and logging in */
/**************************************************/
.form {
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    width: 280px;
    vertical-align: baseline;
}
.form.flat-box {
    flex-wrap: wrap;
}

label {
    font-weight: bold;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 263px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid hsl(219, 6%, 90%);
    border-radius: 0;
    cursor: auto;
}

 input[type=text]:focus,
 input[type=email]:focus,
 input[type=password]:focus,
 input[type=text]:hover,
 input[type=email]:hover,
 input[type=password]:hover {
    border: 1px solid lightblue;
    outline: 1px solid lightblue;
}

#forgot-pw {
    position: relative;
    color: hsl(212, 7%, 65%);
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    text-align: right;
}

/* log in button */
.form input {
    margin: 5px 0 5px 0;
    transition: none;
}
.form button.btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: center;
    background: hsl(205, 100%, 40%);
    color: #FFF;
    border-radius: 3px;
    width: 190px;
    padding: 12px 40px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
}
/*               */
.form-text {
    margin-top: 0;
}

.reset-confirm-form {
    min-height: 13em;
}

/* Tooltips for selected inputs */
p input + div {
    display: none;
    position: relative;
    top: -30px;
    left: 200px;
}
p input:focus + div {
    display: block;
}


/* Color utility classes */
.color-blue {
    color: hsl(210, 100%, 79%);
}

/* Icons */
.svg-sprite {
    display: none;
}
.product-icon {
    width: 20px;
    height: 20px;
}
.products-wrapper ul {
    padding: 0;
}
.products-wrapper li {
    list-style-type: none;
}
