{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>My Local Market</title>
    <meta name="author" content="">
    <meta name="description" content="Connect with local farmer's markets in your area">
    <meta name="keywords" content="farmers,markets,local,food,homemade,products">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <header class="market-header _fixed">
        <div class="-container">
            <a class="logo -link" href="{% url 'home' %}">My Local Market</a>

            <form id="search" method="get" class="searchbar" autocomplete="off" role="search">
                <svg role="icon" class="svg-icon iconSearch" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M12.864 11.321L18 16.5 16.5 18l-5.178-5.136v-.357a7 7 0 1 1 1.186-1.186h.356zM7 12A5 5 0 1 0 7 2a5 5 0 0 0 0 10z"></path>
                </svg>
                <input id="search-value" type="text" placeholder="Search..." value tabindex="1" autocomplete="off" maxlength="240"
                        class="f-input js-search-field"></input>
                <button type="submit" id="submit-search" class="btn js-search-submit">
                    <svg role="icon" class="svg-icon iconSearch" width="18"
                        height="18" viewBox="0 0 18 18">
                        <path d="M12.864 11.321L18 16.5 16.5 18l-5.178-5.136v-.357a7 7 0 1 1 1.186-1.186h.356zM7 12A5 5 0 1 0 7 2a5 5 0 0 0 0 10z">
                        </path>
                    </svg>
                </button>
            </form>

            <nav class="navigation" role="navigation" aria-label="site navigation">
                <ol class="-list">
                    <li class="-item _current">
                        <a class="-link" href="#">Farmer's Markets</a>
                    </li>
                    <li class="-item">
                        <a class="-link" href="#">Favorites</a>
                    </li>
                    <li class="-item">
                        <a class="-link" href="#">About</a>
                    </li>
                </ol>
            </nav>

        </div>
    </header>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
