{% load market_extras %}
<!-- Template to load via Ajax -->
<div class="market-summary inline flex-row">
    <span class="favorite{% if request|has_favorite:market.id %} favored{% endif %}" id="{{market.id}}">
        {% include 'markets/corn_favorite_simple.svg' %}
    </span>
    <div class="content-wrapper">
        <h3 class="market-name">
            <a href="{% url 'markets:detail' market.id %}">{{market.name}}</a>
        </h3>

        <div>
            <!-- Open link to address on map in new tab  -->
            <a class="market-address" href="{{market.maps_link}}" target="_blank">
                <p>{{market.address_street}}<br />
                   {{market.address_city}}, {{market.address_state}} {{market.address_zip}}</p>
            </a>
            <!-- Open link to market's website in new tab -->
            {% if market.website != None %}
                <a href="{{market.website}}" title="Market Website" target="_blank">
                    <p>Website</p></a>
            {% endif %}
        </div>
    </div>
</div>
