{% load market_extras %}
<div class="market-summary flex-row">
    <h3 class="market-name">
        {% if user|has_favorite:market.id %}
            {% include 'markets/corn_favorite.svg.html' %}
        {% else %}
            {% include 'markets/corn_not_favorite.svg.html' %}
        {% endif %}
        <a href="{% url 'markets:detail' market.id %}">{{market.name}}</a>
    </h3>

    <div>
        <a class="market-address" href="{{market.maps_link}}">
            <p>{{market.address_street}}, {{market.address_city}}</p>
            <p>{{market.address_state}}, {{market.address_zip}}</p>
        </a>
        {% if market.website != None %}
            <a href="{{market.website}}" title="Market Website"><p>Website</p></a>
        {% endif %}
    </div>
</div>
