{% extends "./base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block menu_landing_page %}_current{% endblock %}

{% block content %}
<div class="landing-page">
    <div class="first-slide">
        <div class="tagline-wrapper">
            <h1>Eating fresh, made easy</h1>
        </div>

        <div class="search-wrapper">
            <input type="text" class="search f-input" />
        </div>
    </div>

    <div class="second-slide">
        <div class="negative-space">
        </div>
        <div class="synopsis">
            <p>
                Fusce at tempus tellus. Praesent ante eros, viverra pellentesque luctus a, interdum eget dolor. Ut et nisl quis est elementum consequat at iaculis erat. Donec consectetur vehicula dolor, quis eleifend tortor tempor et. Phasellus ac mi turpis. Aliquam lacinia turpis felis, in pretium odio tempus vitae. Vivamus interdum est nunc, id elementum tortor commodo a.
            </p>
        </div>
        <div class="features">
            <h2>Features</h2>
            <ul>
                <li>It's cool</li>
                <li>Tasty stuff</li>
                <li>Friends!</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
