{% extends "./base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block menu_landing_page %}_current{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="landing-page">
    <div class="first-slide">
        <!-- Background image -->
        <div class="image-wrapper">
            <img class="slide-bg-image" src="{{ MEDIA_URL }}landing_page.jpg" alt="Fresh produce" />
        </div>

        <div class="search-wrapper">
            <header class="search-header">
                <h1>Eating fresh, made easy</h1>
            </header>

            <form id="search" action="{% url 'markets:search_page' %}" method="post" class="search-form" autocomplete="off" role="search">
                {% csrf_token %}
                <input placeholder="Search for farmers markets in your zip code"
                       name="search_value" type="text" class="search f-input js-search-field"
                       tabindex="1" autocomplete="off" maxlength="240" />
                <button type="submit" id="submit-search-landing-page"
                        class="btn js-search-submit">Search
                </button>
            </form>
        </div>
    </div>

    <div class="second-slide">
        <div class="negative-space">
        </div>
        <div class="synopsis">
            <p>
                Fusce at tempus tellus. Praesent ante eros, viverra pellentesque luctus a, interdum eget dolor. Ut et nisl quis est elementum consequat at iaculis erat. Donec consectetur vehicula dolor, quis eleifend tortor tempor et. Phasellus ac mi turpis. Aliquam lacinia turpis felis, in pretium odio tempus vitae. Vivamus interdum est nunc, id elementum tortor commodo a.
            </p>
        </div>
        <div class="features">
            <h2>Features</h2>
            <ul>
                <li>It's cool</li>
                <li>Tasty stuff</li>
                <li>Friends!</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
