{% extends "./base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block menu_search %}_current{% endblock %}

{% block stylesheets %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
<!-- Leaflet Marker Clusters -->
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div id="app" class="search-page-wrapper">
    <div class="search-map-wrapper">
        <div id="search-map" class="map"></div>
    </div>

    <div class="results">
        <div class="market-summary-wrapper float-right" id="summary-wrapper">
            <!-- Data filled in by JS -->
            <market-summary v-for="market in markets"
            :market="market.fields">
            </market-summary>
        </div>

        <div class="more-results-wrapper">
            <button class="big-button" id="more-results">More results</button>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<!-- <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
  integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
  crossorigin=""></script> -->
{% render_bundle 'farmer' %}
{% endblock %}
